.header{
    background-color: #282c34;
    height: 270px;
    display: flex;
    position: relative;
    color: white;
    border-bottom: 1px solid rgb(20, 202, 71); 
}

.header-title{
    width: 400px;
    position: absolute;
    top: -30px;
    left: 100px;
    
}

.header-subtitle{
    margin-top: 60px;
    width: 300px;
    position: absolute;
    left: 620px;

    
}

.header-subtitle h3{
    font-size: 35px;
}

.header-icon{
    width: 200px;
    height: 200px;
    position: absolute;
    left: 1150px;


}

.header-icon-image{
    height: 100%;
}

.HeaderLogoImage{
    height: 70vmin;
}

.header-line{
    position: relative;
    height: 3px;
    background-color:rgb(90, 26, 180);
    width: 1065px;
    margin: 20px 0;
    top: 400px;

}
