.header-other{
    background-color: #282c34;
    height: 100px;
    display: flex;
    position: relative;
    color: white;
    border-bottom: 1px solid rgb(255, 255, 255); 

}

.header-menu-icon-div {
    height: 35px;
    width: 35px;
    margin-left: auto; 
    overflow: hidden; 
    margin-top: 10px;
    cursor: pointer;
}

.header-menu-icon-div:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); 
}

.header-menu-icon{
    height: 100%;
    width: 100%;
    object-fit: contain;
    display: block;
}

