.teams-background{
    background-image: url("images/bg4.jpg");
    background-size: cover;
}


.group_choice{
   
    margin-left: 50px;
    border: 1px solid rgb(255, 255, 255); 
    display: flex;
    width: fit-content;
    color: white;
    background-color: transparent;
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.3);
    
   
}

.group-box{
    display: flex;
    margin: 10px;
    font-size: 15px;
    border-radius: 12px;
}

#group-choice-a{
    font-size: 20px;
    display: flex;
    margin: 10px;
}

.teams-main-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    width: 100%;
    margin-bottom: 40px;

    background-color: transparent;
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.3);

    border-bottom: 1px solid rgb(255, 255, 255); 
    border-left: 1px solid rgb(255, 255, 255); 
    border-right: 1px solid rgb(255, 255, 255); 

}

.close-button{
    cursor: pointer;
}


.ticket-date{
    font-size: 14px;
    color: white;
    padding-left: 5px;
}
.button-teste{
    height: 50px;
}

.admin-info{
    color: red;
    padding: 5px;
    font-size: medium;
    margin-left: 50px;
    cursor: pointer;
    width: fit-content;
    
}

.tool-box:hover {
    background-color: rgb(255, 255, 255);
  
  }

.tool-box{
    transition: background-color 0.3s ease;
    width: 30px;
    height: 30px;
    position: relative;
    top:10px
    
}