.footer{
    background-color: #282c34;
    border-top: 1px solid rgb(255, 255, 255); 
    color: rgb(255, 255, 255);
    font-size: 25px;
    display: flex;
    flex-direction: column;   
    justify-content: center;  
    align-items: center;      
    padding: 10px;  
    position: relative;
    margin-bottom: 0px;
    
}

.footerMainContent2,
.footerMainContent{
  display: flex;
  gap: 40px;
  padding: 7px;
  font-size: large;
}


.LogoInfo{
  position: absolute;
  left : 55px;
  top: 70px;
  font-size: 20px;
  font-size: small;
}

.footerLogo{
  position: absolute;
  top: 60px;
  left: 10px; 
  height: 30px;
  width: 50px;
  overflow: hidden;
}

.footerLogoImage{
  width: 50px; 
  height: auto;       
}


